@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-inter;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer p-3 bg-primary text-white rounded-sm font-medium hover:bg-blue-900 transition border-2 border-transparent;
  }

  .nav__link {
    @apply font-medium text-gray-600 hover:text-primary group-hover:text-primary;
  }

  .nav__link i {
    @apply transition duration-200 ml-2 text-gray-400 group-hover:text-primary group-hover:rotate-180;
  }

  .nav__link:hover i {
    @apply text-primary rotate-180;
  }

  .event-items::-webkit-scrollbar {
    @apply w-0;
  }
  .event-card {
    @apply flex-1 shrink-0 basis-full pt-6;
  }

  .actuality-card *,
  .event-card * {
    @apply transition-all duration-300;
  }

  .actuality-card-img::before,
  .event-card-img::before {
    background: linear-gradient(
      180deg,
      rgba(27, 27, 27, 0) -1.5%,
      #1b1b1b 103.4%
    );
  }

  .info-controls > div:nth-child(even) label {
    @apply border-[#1d3d91] border-opacity-40;
  }

  .info-controls > div:nth-child(odd) label {
    @apply border-[#1d3d91] border-opacity-20;
  }

  .info-controls > div label {
    @apply cursor-pointer transition-all peer-checked:border-primary peer-checked:border-opacity-100;
  }

  .heroSlideIn {
    animation: heroSlideIn ease-in-out forwards;
    animation-duration: 1.5s;
  }

  .heroSlideOut {
    animation: heroSlideOut ease-in-out;
    animation-duration: 1.5s;
  }

  @keyframes heroSlideIn {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes heroSlideOut {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }
}
