@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  .loader-container.loaded {
    animation: fadeOutLoader 1.5s ease forwards;
  }

  .loader {
    @apply w-24 h-24 border-[3px] border-dotted border-white rounded-full inline-block relative;
    border-style: solid solid dotted dotted;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    @apply absolute inset-0 m-auto border-[3px] border-dotted border-[#ff3d00] w-12 h-12 rounded-full origin-center;
    content: "";
    box-sizing: border-box;
    border-style: solid solid dotted;

    animation: rotationBack 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes fadeOutLoader {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(110vh);
      opacity: 0;
    }
  }

  body {
    @apply font-inter;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer p-3 bg-primary text-white rounded-sm font-medium hover:bg-blue-900 transition border-2 border-transparent;
  }

  .nav__link {
    @apply font-medium text-gray-600 hover:text-primary peer-checked:text-primary;
  }

  .nav__link i {
    @apply transition duration-200 ml-2 text-gray-400;
  }

  .nav__link:hover i {
    @apply lg:text-primary lg:rotate-180;
  }

  nav input:checked + label i {
    @apply text-primary rotate-180;
  }

  nav ul input:checked + label i {
    @apply text-primary rotate-180;
  }

  .event-items::-webkit-scrollbar {
    @apply w-0;
  }
  .event-card {
    @apply flex-1 shrink-0 basis-full pt-6;
  }

  .actuality-card *,
  .event-card * {
    @apply transition-all duration-300;
  }

  .actuality-card-img::before,
  .event-card-img::before {
    background: linear-gradient(
      180deg,
      rgba(27, 27, 27, 0) -1.5%,
      #1b1b1b 103.4%
    );
  }

  .info-controls > div:nth-child(even) label {
    @apply border-[#1d3d91] border-opacity-40;
  }

  .info-controls > div:nth-child(odd) label {
    @apply border-[#1d3d91] border-opacity-20;
  }

  .info-controls > div label {
    @apply cursor-pointer transition-all peer-checked:border-primary peer-checked:border-opacity-100;
  }

  /* Animation */
  .fadeInLeft {
    animation: fadeInLeft 400ms ease forwards;
  }

  .scaleInFwd {
    animation: scaleInFwd 1s ease forwards;
  }

  .heroSlideIn {
    animation: heroSlideIn ease-in-out forwards;
    animation-duration: 1.5s;
  }

  .heroSlideOut {
    animation: heroSlideOut ease-in-out;
    animation-duration: 1.5s;
  }

  .eventLeftSlideOut {
    animation: eventLeftSlideOut ease-in-out;
    animation-duration: 1.5s;
  }

  .eventLeftSlideIn {
    animation: eventLeftSlideIn ease-in-out forwards;
    animation-duration: 1.5s;
  }

  @keyframes eventLeftSlideIn {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes eventLeftSlideOut {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes heroSlideIn {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes heroSlideOut {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes scaleInFwd {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@layer utilities {
  .prev-btn.desactived,
  .next-btn.desactived {
    @apply bg-gray-500 border-transparent text-white cursor-default pointer-events-none;
  }
}
